.banner {
  overflow: hidden;

  @include breakpoint(large up) {
    &.large-size {
      height: 110vh;
    }

    &.medium-size {
      height: 90vh;
    }

    &.small-size {
      height: 75vh;
    }
  }

   @include breakpoint(medium down) {
    &.large-size {
      height: 110vh;
    }

    &.medium-size {
      height: 90vh;
    }

    &.small-size {
      height: 75vh;
    }
  }

  &__media {
    height: 100%;
    width: 100%;
  }

  &__content {
    h2 {
        margin-top: 0;
    }
  }

  .desktop-only img {
    object-fit: cover;
    object-position: 20% 20%;
    height: 100%;
  }
}
