@mixin global-button-style {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button {
    @include global-button-style;
    min-height: 40px;
    min-width: 200px;
}