.nmr-card.product-card-wrapper {
  padding: 5px;

  .card {
    background-color: rgb(255, 255, 255);
    padding: 17px;
    border-radius: 20px;
    max-height: 500px;
    aspect-ratio: 314/430;
    box-shadow: 6px 6px 15px 0px rgba(28, 28, 28, 0.103);
    transition: 0.2s;

    &:hover {
      transform: scale(1.02);
      box-shadow: 6px 6px 15px rgba(33, 33, 33, 0.205);
      transition: 0.3s;

      a {
        text-decoration: none;
      }
    }

    @include breakpoint(medium down) {
      aspect-ratio: 314/500;
      padding: 10px;
    }

    &__inner {
      border-radius: 20px;
      overflow: hidden;
      max-height: 75%;

      @include breakpoint(medium down) {
        max-height: 65%;
      }
    }

    &__content {
      padding-left: 3px;

      .quick-add button,
      .quick-add div.button {
        color: white;
        width: 100%;
        min-width: 0;
        border-radius: rem-calc(20px);

        &:hover {
          border: 0;
          border-width: 0;
          outline: 0;
        }
      }

      .quick-add button {
        background-color: #ffb000;

        &:hover {
          background-color: #ffc548;
        }
      }

      .quick-add div.button {
        background-color: #db6751;

        &:hover {
          background-color: #fb5d3d;
        }
      }
    }

    &__heading {
      h3,
      a {
        color: rgb(11, 11, 11);
        font-size: rem-calc(34px);
        font-family: var(--font-body-family);
        // text-transform: uppercase;
        letter-spacing: 0.2px;
        line-height: rem-calc(39px);
        font-weight: 600;

        @include breakpoint(medium down) {
          font-size: rem-calc(23px);
          line-height: rem-calc(27px);
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__description {
      line-height: normal;
      font-size: 16px;
    }

    &__information {
      grid-row-start: 1;

      .price {
        color: #515151;
      }
      @include breakpoint(medium down) {
        padding: 8px 0;

        .price span {
          font-size: rem-calc(20px);
        }
      }
    }
  }
}
