@import './tools/util/util';
@import './tools/mixins';

html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  position: relative;
}

body {
  width: 100vw; /* full viewport width */
  max-width: 100%; /* prevent overflow */
  margin: 0; /* remove default body margin */
  padding: 0; /* optional */
  overflow-x: hidden; /* hide horizontal scroll if something spills */
  box-sizing: border-box; /* include padding/border in width */
}

.section-divider {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  width: 100%;

  @include breakpoint(medium down) {
    bottom: -5px;

    &.divider__2 {
      transform: scale(1.8);
    }
    &.divider__1 {
      transform: scale(1.1);
      display: flex;
      justify-content: center;
    }
  }

  svg,
  img {
    width: 100%;
  }
}
